.usernav__container {
    position: relative;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 70px;
    padding: 0 20px 0 20px;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.1);

}

.usernav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1280px;
    width: 100%;
}

.usernav__logo {
    display: flex;
    align-items: center;
    flex-basis: 0;
    flex-grow: 1;
    gap: 6px;
}

.usernav__logo span {
    font-family: inherit;
    font-size: 24px;
    font-weight: 500;
    line-height: 32px;
}

.mainNav {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    font-weight: 500;
    line-height: 20px;
}

.mainNav__items {
    display: flex;
    padding: 0;
    gap: 48px;
    list-style: none;
}

.mainNav__item a{
    color: #333;
    transition: all 0.1s linear;
}

.mainNav__item a:hover{
    color: #4070f4;
    transition: all 0.1s linear;
}

.mainNav__item .active-link{
    color: #4070f4;
}

.usernav__button {
    display: flex;
    gap: 10px;
    flex-grow: 1;
    justify-content: end;
    flex-basis: 0;
}