.container {
    width: 100%;
    border-radius: 10px;
    border: solid 1px #c3c3c3;
    box-shadow: 3px 3px 6px 2px rgb(0 0 0 / 10%);
    height: 200px;
}

.citasCard {
    display: flex;
    padding-bottom: 15px;
}

.cardDateContainer {
    padding-left: 12px;
    text-align: center;
}

.cardDate {
    width: 80px;
    background-color: #265df2;
    padding: 10px 0;
    color: #fff;
    line-height: 14px;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
}

.cardDetails {
    display: flex;
    flex-direction: column;
    padding-left: 20px;
    padding-top: 30px;
}

.cardDetails span{
    font-size: 14px;
}

.cardFooter {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 0;
}

@media (max-width:480px) {
    .citasCard {
        padding-bottom: 5px;
    }

    .cardDetails {
        padding-left: 10px;
        padding-top: 25px;
    }

    .cardFooter {
        padding: 0;
    }
}