.citas-container {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-grow: 1;
    background-color: #4070f4;
}

.citas {
    display: flex;
    flex-direction: column;
    max-width: 1280px;
    height: 625px;
    width: 100%;
    min-height: 500px;
    background-color: #fff;
    margin-top: 30px;
    border-radius: 10px;
    box-shadow: 0 5px 10px rgb(0 0 0 / 0.1);
}

.citas__header {
    display: flex;
    width: 100%;
    justify-content: center;
    position: relative;
}

.citas__title {
    position: relative;
    font-size: 30px;
    font-weight: 700;
    color: #333;
    margin-left: 5px;
}

.filters {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    max-width: 700px;
    margin: 0 auto;
    width: 100%;
    padding: 0 10px;
}

.filters__select {
    outline: none;
    width: 100%;
    font-size: 14px;
    font-weight: 400;
    border: 1px solid #aaa;
    padding: 0 15px;
    height: 42px;
    margin: 8px 0;
    cursor: pointer;
    color: #4070f4;
    font-weight: 600;
    border-radius: 5px;
}

.filter__doctor {
    position: relative;
    width: 100%;
    padding-top: 10px;
    max-width: 680px;
    margin: 0 auto;
}

.filters__input {
    outline: none;
    font-size: 14px;
    font-weight: 400;
    border: 1px solid #aaa;
    padding: 0 15px 0 35px;
    height: 42px;
    box-sizing: border-box;
    width: 100%;
}

.filter__icon {
    position: absolute;
    top: 20px;
    left: 10px;
    color: #265df2;
}

.filters__input:is(:focus) {
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1);
    border: solid 1px #265df2;
}

.filters__select:is(:focus) {
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1);
    border: solid 1px #265df2;
}

.filters__title {
    display: flex;
    position: relative;
    justify-content: center;
    padding: 10px 0;
}

.filters__title span{
    position: relative;
    display: flex;
    justify-content: center;
    color: #265df2;
    font-weight: 600;
    width: 100%;
}

.filters__title span::before {
    position: absolute;
    bottom: -5px;
    content: '';
    height: 3px;
    width: 100%;
    background-color: #265df2;
}


.doctors {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    max-width: 670px;
    margin: 0 auto;
    width: 100%;
    padding: 20px 0;
    margin-bottom: 10px;
}

.doctors__grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    width: 100%;
    gap: 32px;
}

.doctor__card {
    display: flex;
    align-items: center;
    background-color: #fff;
    height: 90px;
    border-radius: 20px;
    box-shadow: 1px 2px 4px 1px rgb(0 0 0 / 0.2);
    padding: 0 10px;
    transition: all 0.2s;
    cursor: pointer;
}

.doctor__card:hover {
    background-color: #265df2;
}

.doctor__card:hover span{
    color: #fff;
}

.doctor__card img {
    width: 50px;
    height: 50px;
    padding: 0 10px;
}

.doctor__card__content {
    display: flex;
    flex-direction: column;
    font-size: 14px;
}

.doctor__card__title {
    color: #265df2;
    font-weight: 500;
}

.citas__modal{
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 20px;
    left: 50;
    max-width: 800px;
    width: 100%;
    background-color: #f1eef8;
    border-radius: 10px;
    height: 600px;
}

.citas__modal__content {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin: 30px;
    border-radius: 5px;
}

.modal__header {
    height: 150px;
    width: 100%;
    background-color: #fff;
    box-shadow: 3px 3px 6px 1px rgb(0 0 0 / 0.2);
    border-radius: 20px;
}

.modal__header__container {
    padding: 20px;
}

.modal__header h2 {
    color: #265df2;
    font-weight: 500;
    font-size: 16px;
    line-height: 18px;
    margin: 0;
}

.modal__header__details {
    padding: 20px 0;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.modal__header__details div {
    display: flex;
    justify-content: space-between;
}

.modal__main {
    height: 350px;
    width: 100%;
    background-color: #fff;
    box-shadow: 3px 3px 6px 1px rgb(0 0 0 / 0.2);
    border-radius: 20px;
}

.modal__main__container {
    padding: 20px;
}

.modal__main__intervals {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    gap: 20px;
}

.modal__main__intervals div{
    display: flex;
    justify-content: center;
    border: solid 2px #265df2;
    border-radius: 5px;
    cursor: pointer;
}

.modal__main__intervals div:hover{
    background-color: #265df2;
    color: #fff;
}

.modal__main__date {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.modal__main__date input{
    outline: none;
    font-size: 14px;
    font-weight: 400;
    border: 1px solid #aaa;
    padding: 0 15px 0 35px;
    height: 42px;
    box-sizing: border-box;
}

.hidden {
    display: none;
}

.close-icon {
    position: absolute;
    right: 10px;
    top: 5px;
    cursor: pointer;
    transition: all 0.2s;
}

.close-icon:hover {
    color: #265df2;
}

@media (max-width:480px) {
    .citas-container {
        padding: 0 10px;
    }
}