.landing__container {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    justify-content: center;
    align-items: center;
    background-color: #f6f3fc;
    padding: 0;
    margin-top: 70px;
}

.main-banner {
    position: relative;
    display: flex;
    justify-content: space-between;
    max-height: 520px;
    height: 100%;
    width: 100%;
    background-color: #265df2;
    color: #fff;
    overflow: hidden;
}

.main-banner div p{
    margin: 0;
    padding-bottom: 30px;
    font-size: 50px;
}

.main-banner div a{
    display: flex;
    max-width: 200px;
    max-height: 45px;
    height: 100%;
}

.banner-content {
    position: relative;
    z-index: 10;
    padding: 100px 0;
    padding-left: 50px;
}

.banner-image {
    position: relative;
    z-index: 10;
    padding: 110px 0;
    padding-right: 50px;
}

.banner-image img{
    position: relative;
    height: 300px;
    width: 400px;
    object-fit: cover;
    object-position: right;
    border-radius: 20px;
}

.banner-image::before{
    content: '';
    position: absolute;
    top: 95px;
    right: 35px;
    background-color: #202020;
    height: 300px;
    width: 400px;
    object-fit: cover;
    object-position: right;
    border-radius: 20px;
}

.dotted {
    position: absolute;
    top: 8px;
    left: 8px;
    background-color: transparent;
    background-image: radial-gradient(circle, #202020 2.5px, transparent 0);
    background-size: 22px 22px;
    height: 140px;
    width: 140px;
}

.circle {
    position: absolute;
    height: 130px;
    width: 130px;
    bottom: -110px;
    left: -70px;
    background-color: transparent;
    border-radius: 50%;
    border: solid #202020 45px;
    box-shadow: 2px -1px   rgba(0, 0, 0, 0.1);
}

.main-banner::before {
    content: '';
    position: absolute;
    top: 60px;
    right: 360px;
    background-color: transparent;
    background-image: radial-gradient(circle, #fff 2.5px, transparent 0);
    background-size: 22px 22px;
    height: 140px;
    width: 140px;
}

.main-banner::after {
    content: '';
    position: absolute;
    bottom: 60px;
    right: 5px;
    background-color: transparent;
    background-image: radial-gradient(circle, #fff 2.5px, transparent 0);
    background-size: 22px 22px;
    height: 140px;
    width: 140px;
}

.landing__content {
    position: relative;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    width: 100%;
    max-width: 1380px;
    box-sizing: border-box;
}

.landing__content__cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    justify-content: center;
    align-items: center;
    width: 100%;
    gap: 25px;
    box-sizing: border-box;
    position: absolute;
    top: -60px;
    padding: 0 20px;
}

.landing__content__card {
    color: #fff;
    background-color: #202020;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 30px 10px;
    border-radius: 15px;
    max-width: 380px;
    box-shadow: 6px 6px 6px rgb(0 0 0 / 0.1);
}

.landing__content__card.invert {
    background-color: #fff;
    color: #202020;
}


.content__card__text {
    display: flex;
    flex-direction: column;
    padding-right: 30px;
}

.content__card__text span {
    font-size: 16px;
    font-weight: 600;
}

.content__card__text p {
    font-size: 12px;
}

.content__card__icon {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 30px;
}

.landing__content__card.invert .content__card__icon{
    background-color: #fff;
    color: #4070f4;
}

.landing__content__services {
    margin-top: 100px;
    min-height: 700px;
}

.content__services__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px 0;
}

.content__services__header {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 1180px;
}

.services__header__title {
    font-size: 36px;
    margin: 0;
    padding: 10px 0;
}

.services__header__title span {
    color: #4070f4;
}

.services__header__description {
    text-align: center;
}

.content__services__cards {
    display: flex;
    gap: 30px;
    padding: 20px 0;
}

@media (min-width: 1300px) {
    .main-banner {
        min-height: 560px;
    }

    .banner-content {
        position: relative;
        z-index: 10;
        padding: 110px 0;
        padding-left: 100px;
    }

    .main-banner div p{
        font-size: 54px;
    }

    .banner-image {
        position: relative;
        z-index: 10;
        padding: 110px 0;
        padding-right: 120px;
    }

    .banner-image::before{
        content: '';
        position: absolute;
        top: 95px;
        right: 105px;
        background-color: #202020;
        height: 300px;
        width: 400px;
        object-fit: cover;
        object-position: right;
        border-radius: 20px;
    }

    .main-banner::before {
        top: 50px;
        right: 440px;
    }

    .main-banner::after {
        bottom: 80px;
        right: 50px;
    }
}