.header {
    position: fixed;
    top: 0;
    z-index: 50;
    width: 100%;
    background-color: var(--white);
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-height: 70px;
    padding: 0 30px;
    box-shadow: 0 6px 6px rgba(0, 0, 0, 0.1);
    box-sizing: border-box;
}

.headerLogo {
    display: flex;
    align-items: center;
    flex-basis: 0;
    flex-grow: 1;
    gap: 6px;
}

.headerLogo span{
    font-family: inherit;
    font-size: 24px;
    font-weight: 500;
    line-height: 32px;
}

.headerButtons{
    display: flex;
    gap: 10px;
    flex-grow: 1;
    justify-content: flex-end;
    flex-basis: 0;
}


.toggleButton {
    padding-left: 15px;
    display: none;
}

.toggleButton:hover {
    color: var(--blue);
    cursor: pointer;
}

.navbarCollapse {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 100;
    width: 40%;
    height: 100vh;
    background-color: var(--white);
    padding: 20px 30px;
}

.navbarCollapse.collapsed {
    display: none;
}

.collapseContent {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.closeIcon {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: all 0.2s;
}

.closeIcon:hover {
    color: var(--blue);
}

.collapseNavigation {
    display: flex;
}

.navigationItems {
    display: flex;
    flex-direction: column;
    gap: 10px;
    text-align: end;
}

.navigationItem {
    cursor: pointer;
    color: var(--light-blue);
    font-size: 16px;
    transition: all 02s;
    font-weight: 600;
}

.navigationItem a{
    color: var(--light-blue);
}

.navigationItem:hover {
    color: var(--blue);
}

@media (max-width: 1000px) {
    .toggleButton {
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

@media (max-width: 500px) {
    .headerButtons {
        display: none;
    }

    .navbarCollapse {
        width: 70%;
    }
}