.landing-header {
    position: fixed;
    top: 0;
    z-index: 50;
    width: 100%;
    background-color: var(--white);
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-height: 70px;
    padding: 0 30px;
    box-shadow: 0 6px 6px rgba(0, 0, 0, 0.1);
    box-sizing: border-box;
}

.header-logo {
    display: flex;
    align-items: center;
    flex-basis: 0;
    flex-grow: 1;
    gap: 6px;
}

.header-logo span{
    font-family: inherit;
    font-size: 24px;
    font-weight: 500;
    line-height: 32px;
}

.header-buttons{
    display: flex;
    gap: 10px;
    flex-grow: 1;
    justify-content: flex-end;
    flex-basis: 0;
}

.main-nav {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    font-weight: 500;
    line-height: 20px;
}

.main-nav .nav-items{
    display: flex;
    padding: 0;
    gap: 48px;
    list-style: none;
}

.main-nav .nav-items.column{
    display: flex;
    flex-direction: column;
}

.nav-items li a {
    color: var(--gray);
    transition: all 0.1s linear;
}

.nav-items li a:hover {
    color: var(--light-blue);
}

.nav-items li .active-link{
    color: var(--light-blue);
    transition: all 0.1s linear;
}

.toggle-button-container {
    padding-left: 15px;
    display: none;
}

.toggle-button-container:hover {
    color: var(--blue);
    cursor: pointer;
}

.navbar-collapse {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 100;
    width: 40%;
    height: 100vh;
    background-color: var(--white);
    padding: 20px 30px;
}

.navbar-collapse.collapsed {
    display: none;
}

.navbar-collapse-content {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.navbar-collapse-closeIcon {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: all 0.2s;
}

.navbar-collapse-closeIcon:hover {
    color: var(--blue);
}

.navbar__collapse__navigation {
    display: flex;
}

.collapse__navigation__items {
    display: flex;
    flex-direction: column;
    gap: 10px;
    text-align: end;
}

.collapse__navigation__item {
    cursor: pointer;
    color: var(--light-blue);
    font-size: 16px;
    transition: all 02s;
    font-weight: 600;
}

.collapse__navigation__item a{
    color: var(--light-blue);
}

.collapse__navigation__item:hover {
    color: var(--blue);
}

@media (max-width: 1000px) {
    .toggle-button-container {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .main-nav {
        display: none;
    }

}

@media (max-width: 500px) {
    .header-buttons {
        display: none;
    }

    .navbar-collapse {
        width: 70%;
    }
}