.container {
    background-color: var(--blue);
    color: var(--white);
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 40px;
    padding: 5px 20px;
}

.logo {
    display: flex;
    align-items: center;
    gap: 8px;
    flex-basis: 0;
    flex-grow: 1;
}

.logo span {
    font-size: var(--lg);
    font-weight: 600;
}

.description {
    font-size: var(--sm);
}

.links {
    display: flex;
    justify-content: flex-end;
    flex-basis: 0;
    flex-grow: 1;
}

.links a {
    display: flex;
    border: solid 2px var(--white);
    padding: 4px 4px 4px 4.5px;
    border-radius: 8px;
    color: var(--white);
}


@media (max-width: 900px) {
    .container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        min-height: 65px;
        gap: 20px;
        padding: 20px 0;
    }
}