.staff__banner {
    display: flex;
    min-height: 300px;
    background-color: var(--blue);
}

.staff__banner__title {
    max-width: 1120px;
    width: 100%;
    margin: 40px auto;
    display: flex;
    justify-content: end;
    align-items: end;
}

.staff__banner__title span {
    font-size: 48px;
    font-weight: 700;
    color: var(--white);
}

.staff__content__container {
    max-width: 1120px;
    width: 100%;
    margin: 0 auto;
    padding: 60px 0;
}

.staff__content__title {
    font-size: 28px;
    font-weight: 600;
    color: var(--blue);
}

.staff__content__filters {
    display: grid;
    grid-template-columns: repeat(4, minmax(200px, 1fr));
    gap: 20px;
}

.staff__filters__select {
    outline: none;
    width: 100%;
    font-size: 14px;
    font-weight: 400;
    border: 1px solid var(--light-gray);
    padding: 0 15px;
    height: 42px;
    margin: 8px 0;
    cursor: pointer;
    color: var(--light-blue);
    font-weight: 600;
    border-radius: 5px;
}

.staff__filter__doctor {
    position: relative;
    width: 100%;
    grid-column: span 2;
    padding: 0;
    height: 42px;
    margin: 8px 0;
}

.staff__filters__input {
    outline: none;
    font-size: 14px;
    font-weight: 400;
    border: 1px solid var(--light-gray);
    height: 42px;
    box-sizing: border-box;
    width: 100%;
    padding-left: 35px;
}

.staff__filter__icon {
    position: absolute;
    top: 10px;
    left: 10px;
    color: var(--blue);
}

.staff__content__doctors {
    min-height: 600px;
    padding-top: 50px;
}

.staff__content__doctors__grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 32px;
}

.doctor__card {
    display: flex;
    align-items: center;
    background-color: var(--white);
    height: 90px;
    border-radius: 20px;
    box-shadow: 1px 2px 4px 1px rgb(0 0 0 / 0.2);
    padding: 0 10px;
    transition: all 0.2s;
    cursor: pointer;
}

.doctor__card:hover {
    background-color: var(--blue);
}

.doctor__card:hover span{
    color: #fff;
}

.doctor__card img {
    width: 50px;
    height: 50px;
    padding: 0 10px;
}

.doctor__card__content {
    display: flex;
    flex-direction: column;
    font-size: 14px;
}

.doctor__card__title {
    color: var(--blue);
    font-weight: 500;
}

@media (max-width: 1200px) {
    .staff__content__container {
        padding: 50px 15px;
        box-sizing: border-box;
    }

    .staff__banner__title {
        padding: 0 15px;
    }
}

@media (max-width:540px) {

    .staff__banner {
        min-height: 200px;
    }

    .staff__banner__title {
        max-width: 1120px;
        width: 100%;
        margin: 30px auto;
        display: flex;
        justify-content: center;
        align-items: end;
    }

    .staff__banner__title span {
        font-size: 30px;
        font-weight: 700;
        color: var(--white);
    }

    .staff__content__container {
        padding: 30px 15px;
        box-sizing: border-box;
    }

    .staff__content__filters {
        display: grid;
        grid-template-columns: repeat(1, minmax(200px, 1fr));
        gap: 20px;
    }

    .staff__filter__doctor {
        grid-column: span 1;
    }
}