.modal__overlay {
    position: fixed;
    inset: 0;
    z-index: 50;
    background-color: rgb(0 0 0 / 0.6);
    transition: all 0.1s;
    backdrop-filter: blur(2px);
    display: flex;
    justify-content: center;
    align-items: center;
}