.modal__container {
    min-height: 600px;
    width: 800px;
    background-color: #fff;
    border-radius: 20px;
    display: flex;
    position: relative;
}

.modal {
    padding: 20px 50px;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.modal__header {
    position: relative;
}

.modal__header__title {
    font-size: 18px;
    font-weight: 600;
    color: #265df2;
}

.modal__header__title span {
    font-size: 18px;
    font-weight: 400;
    color: #333;
}

.modal__close__button {
    position: absolute;
    top: 19px;
    right: 0;
    cursor: pointer;
    transition: all 0.2s;
}

.modal__close__button:hover {
    color: #265df2;
}

.modal__header__options {
    display: flex;
    gap: 20px;
}

.modal__header__option {
    display: flex;
    align-items: center;
    outline: none;
    font-size: 14px;
    font-weight: 400;
    border: 1px solid #aaa;
    padding: 0 15px;
    height: 42px;
    margin: 8px 0;
    color: #6d6d6d;
    font-weight: 500;
    border-radius: 5px;
    width: 100%;
    box-sizing: border-box;
}

.modal__content {
    display: flex;
    flex-direction: column;
    padding: 10px 0;
}

.modal__content__title {
    color: #265df2;
    font-size: 18px;
    font-weight: 600;
}

.modal__content__container {
    display: flex;
}

.modal__content__intervals {
    display: grid;
    grid-template-columns: repeat(4, minmax(0, 1fr));
    gap: 8px;
    padding: 25px 0;
}

.modal__content__interval {
    font-size: 14px;
    font-weight: 500;
    cursor: pointer;
    border: 1px solid #265df2;
    border-radius: 5px;
    box-shadow: 3px 4px rgb(0 0 0 / 0.1);
    height: 40px;
    transition: all 0.1s;
}

.modal__content__interval:hover {
    background-color: #265df2;
    color: #fff;
}

@media (max-width:480px) {

    .modal__container {
        margin: 0 10px;
    }

    .modal {
        padding: 20px 30px;
    }

    .modal__close__button {
        top: 13px;
        right: 0;
    }

    .modal__header__options {
        flex-wrap: wrap;
        gap: 0 !important;
    }

    .modal__header__title {
        font-size: 14px;
        font-weight: 600;
        color: #265df2;
    }

    .modal__content__title {
        font-size: 14px;
        font-weight: 600;
    }
    
    .modal__header__title span {
        font-size: 14px;
        font-weight: 400;
        color: #333;
    }

    .modal__content__container {
        flex-wrap: wrap;
    }
}