.container {
    min-height: 600px;
    max-width: 600px;
    width: 100%;
    background-color: #fff;
    border-radius: 20px;
    display: flex;
    position: relative;
}

.modal {
    padding: 20px 50px;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.header {
    position: relative;
}

.headerTitle {
    font-size: 18px;
    font-weight: 600;
    color: #265df2;
}

.headerTitle span {
    font-size: 18px;
    font-weight: 400;
    color: #333;
}
.closeButton {
    position: absolute;
    top: 19px;
    right: 0;
    cursor: pointer;
    transition: all 0.2s;
}

.closeButton:hover {
    color: #265df2;
}

.content {
    padding: 20px 0;
    flex-grow: 1;
}

.doctor {
    display: flex;
    height: 100%;
}

.doctorImg {
    width: 70px;
    height: 70px;
    padding: 0 10px;
}

.doctorDetails {
    display: flex;
    flex-direction: column;
}

.doctorName {
    font-size: 16px;
    font-weight: 600;
    color: #265df2;
}

.patientDetails {
    display: flex;
    flex-direction: column;
}

.patientDetails span {
    color: #265df2;
    font-size: 16px;
}

.patientName {
    font-weight: 600;
    font-size: 16px;
}

.cita {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.citaDetails {
    display: flex;
    align-items: center;
    gap: 10px;
}

.location {
    display: flex;
    gap: 10px;
}

.footerButtons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}